<header>
    <div class="header_logo">
        <img src="images/m-gold-logo.png" alt="">
    </div>
    <div class="header_profile-menu">
       <div class="header_notice">
        <a href="" class='notice_tooltips'><span class="status"></span><img src="images/icons/bell.svg" alt="">
            <div class="bottom">
                <div class="tooltips_title">Notifications</div>
                <div>Click here to check for new messages, promo, updates and more.</div>
                <i></i>
            </div>
        </a>
       </div>
       <div class="header_profile">
        <a href=""><img src="images/icons/user.svg" alt=""></a>
        <span class="header_display_name">Hi, John Doe</span>
       </div>
    </div>
</header>