<div class="register_main">
    <form action="#" class="regform" method="get">
        <!-- Progressbar -->
        <ul id="register_progressbar">
            <li id="active1"><div id="bar1"></div>Personal Info</li>
            <li id="active2"><div id="bar2"></div>Bank Acc Info</li>
            <li id="active3"><div id="bar3"></div>Security</li>
            <li id="active4"><div id="bar4"></div>Complete</li>
        </ul>
        <!-- Fieldsets -->
        <fieldset id="first">
            <div class="register_title">
                Create Go Gold Account
            </div>
            <div class="text_field">
                <label for="fullname">FULL NAME (AS PER NRIC)</label>
                <input name="fullname" type="text" value="">
            </div>
            <div class="text_field">
                <label for="email">Email</label>
                <input name="email" type="text" value="">
            </div>
            <div class="text_field">
                <label for="NRIC">NRIC</label>
                <input name="NRIC" type="number" value="">
            </div>
            <div class="text_field">
                <label for="mobile">MOBILE</label>
                <input name="mobile" type="number" value="">
            </div>
            <div class="text_field">
                <label for="address">Address</label>
                <input name="address" type="text" value="">
            </div>
            <div class="text_field30">
                <label for="city">CITY</label>
                <input name="city" type="text" value="">
            </div>
            <div class="text_field30">
                <label for="postcode">POSTCODE</label>
                <input name="postcode" type="text" value="">
            </div>
            <div class="text_field30">
               <select name="" id="">
                   <option value=""></option>
               </select>
            </div>
   
          
           
            <input id="next_btn1" onclick="next_step1()" type="button" value="Next">
        </fieldset>
        <fieldset id="second">
            <h2 class="resgiter_title">Create Go Gold Account</h2>
            <p class="subresgiter_title">Step 2</p>
            <select class="options">
                <option>--Select Education--</option>
                <option>Post Graduate</option>
                <option>Graduate</option>
                <option>HSC</option>
                <option>SSC</option>
            </select>
            <input name="marks" placeholder="Marks Obtained" type="text" value="">
            <input name="pyear" placeholder="Passing Year" type="text" value="">
            <input name="univ" placeholder="University" type="text">
            <input id="pre_btn1" onclick="prev_step1()" type="button" value="Previous">
            <input id="next_btn2" name="next" onclick="next_step2()" type="button" value="Next">
        </fieldset>
        <fieldset id="third">
            <h2 class="resgiter_title">Create Go Gold Account</h2>
            <p class="subresgiter_title">Step 3</p>
            <input name="fname" placeholder="First Name" type="text">
            <input name="lname" placeholder="Last Name" type="text">
            <input name="cont" placeholder="Contact" type="text">
            <label>Gender</label>
            <input name="gender" type="radio" value="Male">Male
            <input name="gender" type="radio" value="Female">Female
            <textarea name="address" placeholder="Address"></textarea>
            <input id="pre_btn1" onclick="prev_step2()" type="button" value="Previous">
            <input id="next_btn2" name="next" onclick="next_step3()" type="button" value="Next">
        </fieldset>
        <fieldset id="forth">
            <h2 class="resgiter_title">Create Go Gold Account</h2>
            <p class="subresgiter_title">Step 4</p>
            <input name="fname" placeholder="First Name" type="text">
            <input name="lname" placeholder="Last Name" type="text">
            <input name="cont" placeholder="Contact" type="text">
            <label>Gender</label>
            <input name="gender" type="radio" value="Male">Male
            <input name="gender" type="radio" value="Female">Female
            <textarea name="address" placeholder="Address"></textarea>
            <input id="pre_btn2" onclick="prev_step3()" type="button" value="Previous">
            <input class="submit_btn" onclick="validation(event)" type="submit" value="Submit">
        </fieldset>
    </form>
</div>


<script>
    /*------------Validation Function-----------------*/
    var count = 0; // To count blank fields.
    function validation(event) {
        var radio_check = document.getElementsByName('gender'); // Fetching radio button by name.
        var input_field = document.getElementsByClassName(
            'text_field'); // Fetching all inputs with same class name text_field and an html tag textarea.
        var text_area = document.getElementsByTagName('textarea');
        // Validating radio button.
        if (radio_check[0].checked == false && radio_check[1].checked == false) {
            var y = 0;
        } else {
            var y = 1;
        }
        // For loop to count blank inputs.
        for (var i = input_field.length; i > count; i--) {
            if (input_field[i - 1].value == '' || text_area.value == '') {
                count = count + 1;
            } else {
                count = 0;
            }
        }
        if (count != 0 || y == 0) {
            alert("*All Fields are mandatory*"); // Notifying validation
            event.preventDefault();
        } else {
            return true;
        }
    }
    /*---------------------------------------------------------*/
    // Function that executes on click of first next button.
    function next_step1() {
        document.getElementById("first").style.display = "none";
        document.getElementById("second").style.display = "block";
        document.getElementById("active2").style.color = "#555555";
        document.getElementById("active2").style.fontWeight = "bold";
        document.getElementById("bar2").style.background = "#FEC949";
    }
    // Function that executes on click of first previous button.
    function prev_step1() {
        document.getElementById("first").style.display = "block";
        document.getElementById("second").style.display = "none";
        document.getElementById("active1").style.color = "#555555";
        document.getElementById("active1").style.fontWeight = "bold";
        document.getElementById("active2").style.color = "#999999";
        document.getElementById("bar2").style.background = "#D3D3D3";
    }
    // Function that executes on click of second next button.
    function next_step2() {
        document.getElementById("second").style.display = "none";
        document.getElementById("third").style.display = "block";
        document.getElementById("active3").style.color = "#555555";
        document.getElementById("active3").style.fontWeight = "bold";
        document.getElementById("bar3").style.background = "#FEC949";
    }
    // Function that executes on click of second previous button.
    function prev_step2() {
        document.getElementById("third").style.display = "none";
        document.getElementById("second").style.display = "block";
        document.getElementById("active2").style.color = "#555555";
        document.getElementById("active2").style.fontWeight = "bold";
        document.getElementById("active3").style.color = "#999999";
        document.getElementById("bar2").style.background = "#FEC949";
        document.getElementById("bar3").style.background = "#D3D3D3";
    }

    // Function that executes on click of second next button.
        function next_step3() {
        document.getElementById("third").style.display = "none";
        document.getElementById("forth").style.display = "block";
        document.getElementById("active4").style.color = "#555555";
        document.getElementById("active4").style.fontWeight = "bold";
        document.getElementById("bar4").style.background = "#FEC949";
    }
    // Function that executes on click of second previous button.
    function prev_step3() {
        document.getElementById("forth").style.display = "none";
        document.getElementById("third").style.display = "block";
        document.getElementById("active3").style.color = "#555555";
        document.getElementById("active3").style.fontWeight = "bold";
        document.getElementById("active4").style.color = "#999999";
        document.getElementById("bar3").style.background = "#FEC949";
        document.getElementById("bar4").style.background = "#D3D3D3";
    }
</script>