<div class="container">
    <div class="reward_title">
        REWARDS
    </div>
    <div class="reward_content">
        <img src="images/demo/image 50.jpg">
        <div class="reward_content_title">Digital Gold GIVEAWAY worth RM30,000</div>
        <div class="reward_content_date">Validity: Ends on 31 December 2021</div>
        <div class="reward_content_details">
            <p>
                <strong>Description</strong><br>
                Be the Top 40 users who purchased the highest accumulated Digital Gold & WIN 1 gram of digital gold.
            </p>
            <p>
                <strong>Terms & Conditions</strong>
                <ol>
                    <li>
                        The MCash Digital Gold Giveaway Campaign (“Campaign”) is jointly organised by MCash and ACE
                        Capital
                        Growth Sdn. Bhd. (“ACE”), and will commence at 12.00am on 15 October 2021 and end at 11.59pm on
                        31
                        December 2021 (“Campaign Period”).
                    </li>
                    <li>
                        By participating in this Campaign, you agree to be bound by all the terms and conditions below
                        (“Terms and Conditions”).
                    </li>
                    <li>
                        Campaign Eligibility
                    </li>
                    <li>
                        This Campaign is open to new and existing MGold customers with active MCash accounts. MCash
                        accounts
                        are active if the participants are able to perform transactions via those MCash accounts.
                    </li>
                    <li>
                        MCash or ACE reserves the right to reject any participation by any participant without assigning
                        any
                        reason.
                    </li>
                </ol>

                <a class="click_more">View All</a>
            </p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="reward_content_button">
                <button class="btn_prev">Back</button>
                <button class="btn_next">Next</button>
            </div>
        </div>

    </div>
</div>