<div class="container">
    <div class="news">
        <a href="">
            <div class="bcard">
                <div class="bcard__header">
                    <img src="images/demo/image 50.jpg" alt="card__image" class="card__image" width="600">
                </div>
                <div class="bcard__body">
                    <span>Watch a short video to get 1 FREE SPIN instantly</span>
                </div>
            </div>
        </a>
        <a href="">
            <div class="bcard">
                <div class="bcard__header">
                    <img src="images/demo/image 21.jpg" alt="card__image" class="card__image" width="600">
                </div>
                <div class="bcard__body">
                    <span>Stand a chance to WIN 1 GRAM of digital gold</span>
                </div>
            </div>
        </a>
        <a href="">
            <div class="bcard">
                <div class="bcard__header">
                    <img src="images/demo/image 54.jpg" alt="card__image" class="card__image" width="600">
                </div>
                <div class="bcard__body">
                    <span>Merry Christmas to all our customers!</span>
                </div>
            </div>
        </a>
    </div>
</div>